
{% extends 'base.html' %}

{%  block content %}

<form method="POST" action="/update/{{ employee.id }}">
    {% csrf_token %}
    <table>
        <tr>
            <td> <input name="eid" required value="{{ employee.eid }}"> </td>
        </tr>
        <tr>
            <td> <input name="ename" required  value="{{ employee.ename }}"> </td>
        </tr>
        <tr>
            <td> <input name="esname" required  value="{{ employee.esname }}"> </td>
        </tr>
        <tr>
            <td> <input name="mobno" required  value="{{ employee.mobno }}"> </td>
        </tr>
        <tr>
            <td> <input name="email" required  value="{{ employee.email }}"> </td>
        </tr>
        <tr>
            <td> <button type="submit">update</button> </td>
        </tr>
    </table>
</form>
{% endblock %}